.Header {
    width: 100%;
    background: transparent;
    position: fixed;
    position: absolute;
    padding-top: 51px;

    .header__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0px;


        .heder__list {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .header__item {
                margin-left: 30px;

                a {
                    font-size: 16px;
                    color: #000;
                }

                &:nth-child(5) a {
                    padding: 20px 30px;
                    color: #fff;
                    background: #167526;
                }
            }
        }
    }
}